html {
    height: 100%;
    width: 100%;
}

body {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

h1 {
    font-weight: 700;
    text-transform: uppercase;
}

h2,
{
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

.masthead {
    color: #fff;
    min-height: 30rem;
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: url(../images/header.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.masthead h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0
}

@media (min-width:992px) {
    .masthead {
        height: 100vh
    }
    .masthead h1 {
        font-size: 3.5rem
    }
}

.features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.features-icons .features-icons-item {
    max-width: 20rem
}

.features-icons .features-icons-item .features-icons-icon {
    height: 7rem
}

.features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem
}

.features-icons .features-icons-item:hover .features-icons-icon i {
    font-size: 5rem
}

.testimonials {
    padding-top: 7rem;
    padding-bottom: 7rem
}

.testimonials .testimonial-item {
    max-width: 18rem
}

.testimonials .testimonial-item img {
    max-width: 12rem;
    box-shadow: 0 5px 5px 0 #adb5bd
}

footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem
}

.mt-4,
.my-4 {
    margin-top: 1.5rem !important
}

hr.black {
    border-color: black;
    max-width: 3.125rem;
    border-width: 0.2rem;
}

hr.white {
    border-color: white;
    max-width: 3.125rem;
    border-width: 0.2rem;
}

hr.home {
    border-color: white;
    max-width: 9rem;
    border-width: 0.2rem;
}

.txtlink2 {
    color: #fff;
    font-weight: bold;
}

.txtlink2:hover {
    color: #fff;
    text-decoration: underline;
}


/*Extra small devices (portrait phones, less than 576px) // No media query since this is the default in Bootstrap
Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
    .maintxt {
        max-width: ;
    }
}


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    .maintxt {
        max-width: ;
    }
}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
    .maintxt {
        max-width: ;
    }
}


/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
    .maintxt {
        max-width: ;
    }
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    width: 100%;
    transition: background-color 100ms linear;
}

nav * {
    margin: 0;
    padding: 0;
}

nav h3 {
    flex: 1;
    text-align: center;
}

nav h3 a {
    display: inline-block;
    /* margin-left: 0.33rem; */
    color: #157ffb;
    font-family: 'Kaushan Script', Helvetica, Arial, cursive;
    font-size: 1.75rem;
    text-decoration: none;
    transition: font-size 200ms linear;
}

nav ul {
    flex: 1;
    display: flex;
    z-index: 1000;
    justify-content: center;
}

nav ul li {
    display: inline-block;
    margin: 0.5rem;
}

nav ul li:last-child {
    margin-right: 4rem;
}

nav ul li a {
    color: white;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #fed136;
}

.scrolled-nav {
    background-color: #212529;
    z-index: 1000;
}

.scrolled-nav h3 a {
    font-size: 1rem;
}